<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div style="margin: auto; width: 600px; text-align: center;">
  <h1>Budget reddit</h1>
</div>
<div *ngFor="let text of texts; let i = index">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{text.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{text.Content}}</p>
    </mat-card-content>
    <div>
      <h5>Komentarji:</h5>
      <div *ngFor="let comment of text.Comments">   
        <div style="margin-bottom: 3px;">
          <p class="test-inline">{{comment.content}}</p>
          <div class="test-inline-2"><mat-icon (click)="deleteComment(comment.id)" svgIcon="delete-icon"></mat-icon></div>       
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <mat-card-actions>
      <button color="primary" mat-raised-button (click)="openDialog(text.Id)">Komentiraj</button>
    </mat-card-actions>
  </mat-card>
</div>